<link href="{{ url_for("echarts.slider_css") }}" rel="stylesheet" />
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" integrity="sha256-sEGfrwMkIjbgTBwGLVK38BG/XwIiNC/EAG9Rzsfda6A=" crossorigin="anonymous" />
<script src="{{ url_for("echarts.echarts_lib_min") }}"></script>
<script src="{{ url_for("echarts.slider_lib_min") }}"></script>
<script src="{{ url_for("echarts.echarts_widget") }}"></script>

<div id="mychart" style="height: 300px;"></div>

<script>
$( document ).ready(function() {
  $("#mychart").etimeseries({
    id: "{{ chart_instance.ID }}",
    options: {{ chart_instance.build_options() | json }},
    limits: {{ chart_instance.get_limits() | json }},
    data_url: "{{ chart_instance.get_url() | safe }}",
    series_info: {{ chart_instance.get_series_info() | json }}
  });
});
</script>